<form id="object_rating" action="{{ url('tadcka_object_rating', {objectType: objectType, objectId: objectId}) }}" {{ form_enctype(form) }} method="POST" class="object_rating">
    {{ form_rest(form) }}
</form>
    
    
